*{
    margin:0;
    padding:0;
    }
   .Webbody{
       background: #cccccc;
      background-position:center;
     background-size:cover;
     font-family:sans-serif;
     margin-top: 40px;
     margin-left: 80px;
     margin-bottom: 40px;
      }
      .card {
          float:left;
          background: #b9e9ff;
      border-radius: 8px;
        box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
        height: 200px;
        margin-top: 2rem;
        width: 550px;
        position: relative;
        max-height: 200px;
        max-width: 550px;
}
 .card2 {
          background: #b9e9ff;
      border-radius: 8px;
        box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
        height: 200px;
        float: right;
        margin-top: 2rem;
        margin-right: 80px;
        width: 550px;
        position: relative;
        max-height: 200px;
        max-width: 550px;
}
label{
   position: relative;
    font-size: 40px;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 40px ;
}
hr{
    width: 70%;
    height: 10px;
    color: black;
    background: black;
    border-radius: 16px;
    margin-bottom: 60px;
}
img{
    position: relative;
                background-color: black;
                background: white;
box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
margin: 10px 20px;
        height: 180px;
        width: 200px;
        border-radius: 8px;
}
c.C{
        position: absolute;

                background: transparent;
margin: 10px 40px;
        height: 180px;
        width: 250px;
        border-radius: 8px;

}
.V{
            font-size: 27px;
            font-family: sans-serif;
        text-decoration: none;
        font-weight: bold;
}
.card:hover{
    background: #94deff;
    transition: 0.2s;
    }
    .card2:hover{
    background: #94deff;
    transition: 0.2s;
    }
    .V:hover{
        color: white;
        transition: 0.5s;
    }
w1{
    background: #fbfbfb;
        border-radius: 8px;
        box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
        height: 200px;
        margin:4rem 1rem;
        width: 500px;
        position: fixed;
}